UserInterface/Connected Services/ProxyWMS_UI/i2MFCS.WMS.Database.Tables1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Database.Tables" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Database.Tables" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="Command.CommandOperation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="StoreTray" />
      <xs:enumeration value="ConfirmStore" />
      <xs:enumeration value="MoveTray" />
      <xs:enumeration value="DropBox" />
      <xs:enumeration value="PickBox" />
      <xs:enumeration value="RetrieveTray" />
      <xs:enumeration value="ConfirmFinish" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Command.CommandOperation" nillable="true" type="tns:Command.CommandOperation" />
  <xs:simpleType name="Command.CommandStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotActive" />
      <xs:enumeration value="Active" />
      <xs:enumeration value="Canceled" />
      <xs:enumeration value="Finished" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Command.CommandStatus" nillable="true" type="tns:Command.CommandStatus" />
  <xs:simpleType name="Order.OrderOperation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="StoreTray" />
      <xs:enumeration value="ConfirmStore" />
      <xs:enumeration value="MoveTray" />
      <xs:enumeration value="DropBox" />
      <xs:enumeration value="PickBox" />
      <xs:enumeration value="RetrieveTray" />
      <xs:enumeration value="ConfirmFinish" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Order.OrderOperation" nillable="true" type="tns:Order.OrderOperation" />
</xs:schema>