UserInterface/Connected Services/ProxyWMS_UI/i2MFCS.WMS.Database.DTO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Database.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Database.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Database.Tables" />
  <xs:complexType name="ArrayOfDTOCommand">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOCommand" nillable="true" type="tns:DTOCommand" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOCommand" nillable="true" type="tns:ArrayOfDTOCommand" />
  <xs:complexType name="DTOCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Order_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Database.Tables" minOccurs="0" name="Status" type="q1:Command.CommandStatus" />
      <xs:element minOccurs="0" name="TU_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Target" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOCommand" nillable="true" type="tns:DTOCommand" />
  <xs:complexType name="DTOOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERP_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="ReleaseTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SKU_Batch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SKU_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SKU_Qty" type="xs:double" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="SubOrderID" type="xs:int" />
      <xs:element minOccurs="0" name="SubOrderName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOOrder" nillable="true" type="tns:DTOOrder" />
</xs:schema>