UserInterface/Connected Services/ProxyWMS_UI/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Database.DTO" />
  <xs:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetCommands">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Database.DTO" minOccurs="0" name="GetCommandsResult" nillable="true" type="q1:ArrayOfDTOCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Database.DTO" minOccurs="0" name="order" nillable="true" type="q2:DTOOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockLocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="locStartsWith" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockLocationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>