UserInterface/Connected Services/ProxyWMS_UI/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Database.DTO" />
  <xs:element name="GetCommands">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Database.DTO" minOccurs="0" name="GetCommandsResult" nillable="true" type="q1:ArrayOfDTOCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Database.DTO" minOccurs="0" name="order" nillable="true" type="q2:DTOOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Database.DTO" minOccurs="0" name="cmd" nillable="true" type="q3:DTOCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelCommandResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockLocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locStartsWith" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="block" type="xs:boolean" />
        <xs:element minOccurs="0" name="reason" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockLocationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockTU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TUID" type="xs:int" />
        <xs:element minOccurs="0" name="block" type="xs:boolean" />
        <xs:element minOccurs="0" name="reason" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockTUResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseRamp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="destinationStartsWith" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseRampResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>