UserInterface/Connected Services/ProxyWMS_UI/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WMSToUI" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Database.DTO" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Database.Tables" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWMSToUI_GetCommands_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommands" />
  </wsdl:message>
  <wsdl:message name="IWMSToUI_GetCommands_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommandsResponse" />
  </wsdl:message>
  <wsdl:message name="IWMSToUI_CancelOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelOrder" />
  </wsdl:message>
  <wsdl:message name="IWMSToUI_CancelOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IWMSToUI_BlockLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:BlockLocations" />
  </wsdl:message>
  <wsdl:message name="IWMSToUI_BlockLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:BlockLocationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IWMSToUI">
    <wsdl:operation name="GetCommands">
      <wsdl:input wsaw:Action="http://tempuri.org/IWMSToUI/GetCommands" message="tns:IWMSToUI_GetCommands_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWMSToUI/GetCommandsResponse" message="tns:IWMSToUI_GetCommands_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IWMSToUI/CancelOrder" message="tns:IWMSToUI_CancelOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWMSToUI/CancelOrderResponse" message="tns:IWMSToUI_CancelOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BlockLocations">
      <wsdl:input wsaw:Action="http://tempuri.org/IWMSToUI/BlockLocations" message="tns:IWMSToUI_BlockLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWMSToUI/BlockLocationsResponse" message="tns:IWMSToUI_BlockLocations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWMSToUI" type="tns:IWMSToUI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCommands">
      <soap:operation soapAction="http://tempuri.org/IWMSToUI/GetCommands" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
      <soap:operation soapAction="http://tempuri.org/IWMSToUI/CancelOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BlockLocations">
      <soap:operation soapAction="http://tempuri.org/IWMSToUI/BlockLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WMSToUI">
    <wsdl:port name="BasicHttpBinding_IWMSToUI" binding="tns:BasicHttpBinding_IWMSToUI">
      <soap:address location="http://localhost:9010/i2MFCS.WMS/WMSToUI/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>