UserInterface/Connected Services/ProxyWMS_UI/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WMSToUI" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Database.DTO" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Database.Tables" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Core.DataExchange" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWMSToUI_GetCommands_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommands" />
  </wsdl:message>
  <wsdl:message name="IWMSToUI_GetCommands_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommandsResponse" />
  </wsdl:message>
  <wsdl:message name="IWMSToUI_CancelOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelOrder" />
  </wsdl:message>
  <wsdl:message name="IWMSToUI_CancelOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IWMSToUI_CancelCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelCommand" />
  </wsdl:message>
  <wsdl:message name="IWMSToUI_CancelCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelCommandResponse" />
  </wsdl:message>
  <wsdl:message name="IWMSToUI_BlockLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:BlockLocations" />
  </wsdl:message>
  <wsdl:message name="IWMSToUI_BlockLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:BlockLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="IWMSToUI_BlockTU_InputMessage">
    <wsdl:part name="parameters" element="tns:BlockTU" />
  </wsdl:message>
  <wsdl:message name="IWMSToUI_BlockTU_OutputMessage">
    <wsdl:part name="parameters" element="tns:BlockTUResponse" />
  </wsdl:message>
  <wsdl:message name="IWMSToUI_ReleaseRamp_InputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseRamp" />
  </wsdl:message>
  <wsdl:message name="IWMSToUI_ReleaseRamp_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseRampResponse" />
  </wsdl:message>
  <wsdl:message name="IWMSToUI_UpdatePlace_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlace" />
  </wsdl:message>
  <wsdl:message name="IWMSToUI_UpdatePlace_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlaceResponse" />
  </wsdl:message>
  <wsdl:message name="IWMSToUI_SuggestTUID_InputMessage">
    <wsdl:part name="parameters" element="tns:SuggestTUID" />
  </wsdl:message>
  <wsdl:message name="IWMSToUI_SuggestTUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuggestTUIDResponse" />
  </wsdl:message>
  <wsdl:message name="IWMSToUI_CommandStatusChanged_InputMessage">
    <wsdl:part name="parameters" element="tns:CommandStatusChanged" />
  </wsdl:message>
  <wsdl:message name="IWMSToUI_CommandStatusChanged_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommandStatusChangedResponse" />
  </wsdl:message>
  <wsdl:message name="IWMSToUI_AddTUs_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTUs" />
  </wsdl:message>
  <wsdl:message name="IWMSToUI_AddTUs_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTUsResponse" />
  </wsdl:message>
  <wsdl:message name="IWMSToUI_DeleteTU_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTU" />
  </wsdl:message>
  <wsdl:message name="IWMSToUI_DeleteTU_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTUResponse" />
  </wsdl:message>
  <wsdl:portType name="IWMSToUI">
    <wsdl:operation name="GetCommands">
      <wsdl:input wsaw:Action="http://tempuri.org/IWMSToUI/GetCommands" message="tns:IWMSToUI_GetCommands_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWMSToUI/GetCommandsResponse" message="tns:IWMSToUI_GetCommands_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IWMSToUI/CancelOrder" message="tns:IWMSToUI_CancelOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWMSToUI/CancelOrderResponse" message="tns:IWMSToUI_CancelOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/IWMSToUI/CancelCommand" message="tns:IWMSToUI_CancelCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWMSToUI/CancelCommandResponse" message="tns:IWMSToUI_CancelCommand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BlockLocations">
      <wsdl:input wsaw:Action="http://tempuri.org/IWMSToUI/BlockLocations" message="tns:IWMSToUI_BlockLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWMSToUI/BlockLocationsResponse" message="tns:IWMSToUI_BlockLocations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BlockTU">
      <wsdl:input wsaw:Action="http://tempuri.org/IWMSToUI/BlockTU" message="tns:IWMSToUI_BlockTU_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWMSToUI/BlockTUResponse" message="tns:IWMSToUI_BlockTU_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReleaseRamp">
      <wsdl:input wsaw:Action="http://tempuri.org/IWMSToUI/ReleaseRamp" message="tns:IWMSToUI_ReleaseRamp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWMSToUI/ReleaseRampResponse" message="tns:IWMSToUI_ReleaseRamp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlace">
      <wsdl:input wsaw:Action="http://tempuri.org/IWMSToUI/UpdatePlace" message="tns:IWMSToUI_UpdatePlace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWMSToUI/UpdatePlaceResponse" message="tns:IWMSToUI_UpdatePlace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuggestTUID">
      <wsdl:input wsaw:Action="http://tempuri.org/IWMSToUI/SuggestTUID" message="tns:IWMSToUI_SuggestTUID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWMSToUI/SuggestTUIDResponse" message="tns:IWMSToUI_SuggestTUID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommandStatusChanged">
      <wsdl:input wsaw:Action="http://tempuri.org/IWMSToUI/CommandStatusChanged" message="tns:IWMSToUI_CommandStatusChanged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWMSToUI/CommandStatusChangedResponse" message="tns:IWMSToUI_CommandStatusChanged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTUs">
      <wsdl:input wsaw:Action="http://tempuri.org/IWMSToUI/AddTUs" message="tns:IWMSToUI_AddTUs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWMSToUI/AddTUsResponse" message="tns:IWMSToUI_AddTUs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTU">
      <wsdl:input wsaw:Action="http://tempuri.org/IWMSToUI/DeleteTU" message="tns:IWMSToUI_DeleteTU_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWMSToUI/DeleteTUResponse" message="tns:IWMSToUI_DeleteTU_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWMSToUI" type="tns:IWMSToUI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCommands">
      <soap:operation soapAction="http://tempuri.org/IWMSToUI/GetCommands" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
      <soap:operation soapAction="http://tempuri.org/IWMSToUI/CancelOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelCommand">
      <soap:operation soapAction="http://tempuri.org/IWMSToUI/CancelCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BlockLocations">
      <soap:operation soapAction="http://tempuri.org/IWMSToUI/BlockLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BlockTU">
      <soap:operation soapAction="http://tempuri.org/IWMSToUI/BlockTU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReleaseRamp">
      <soap:operation soapAction="http://tempuri.org/IWMSToUI/ReleaseRamp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlace">
      <soap:operation soapAction="http://tempuri.org/IWMSToUI/UpdatePlace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuggestTUID">
      <soap:operation soapAction="http://tempuri.org/IWMSToUI/SuggestTUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommandStatusChanged">
      <soap:operation soapAction="http://tempuri.org/IWMSToUI/CommandStatusChanged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTUs">
      <soap:operation soapAction="http://tempuri.org/IWMSToUI/AddTUs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTU">
      <soap:operation soapAction="http://tempuri.org/IWMSToUI/DeleteTU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WMSToUI">
    <wsdl:port name="BasicHttpBinding_IWMSToUI" binding="tns:BasicHttpBinding_IWMSToUI">
      <soap:address location="http://localhost:9010/i2MFCS.WMS/WMSToUI/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>