UserInterface/Connected Services/ProxyWMS_UI/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Database.DTO" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Core.DataExchange" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Database.Tables" />
  <xs:element name="GetCommands">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Database.DTO" minOccurs="0" name="GetCommandsResult" nillable="true" type="q1:ArrayOfDTOCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Database.DTO" minOccurs="0" name="order" nillable="true" type="q2:DTOOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Database.DTO" minOccurs="0" name="cmd" nillable="true" type="q3:DTOCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelCommandResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockLocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locStartsWith" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="block" type="xs:boolean" />
        <xs:element minOccurs="0" name="reason" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockLocationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockTU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TUID" type="xs:int" />
        <xs:element minOccurs="0" name="block" type="xs:boolean" />
        <xs:element minOccurs="0" name="reason" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockTUResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Core.DataExchange" minOccurs="0" name="diffs" nillable="true" type="q4:ArrayOfPlaceDiff" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlaceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SuggestTUID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tuids" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuggestTUIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuggestTUIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommandStatusChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cmdId" type="xs:int" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommandStatusChangedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTUs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Database.Tables" minOccurs="0" name="tus" nillable="true" type="q6:ArrayOfTU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTUsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Database.Tables" minOccurs="0" name="tu" nillable="true" type="q7:TU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTUResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BoxEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="box" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BoxEntryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreTUID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tuid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreTUIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateERPCommandStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="erpid" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/i2MFCS.WMS.Database.Tables" minOccurs="0" name="status" type="q8:CommandERP.CommandERPStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateERPCommandStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>