UserInterface/Connected Services/ServiceMFCS/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MFCService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NotifyEndpoint1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NotifyEndpoint2_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Telegrams" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Warehouse.ConveyorUnits" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Collections" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Database" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITelegramNotify_RegisterCommunicator_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCommunicator" />
  </wsdl:message>
  <wsdl:message name="ITelegramNotify_RegisterCommunicator_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCommunicatorResponse" />
  </wsdl:message>
  <wsdl:message name="ITelegramNotify_UnRegisterCommunicator_InputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterCommunicator" />
  </wsdl:message>
  <wsdl:message name="ITelegramNotify_UnRegisterCommunicator_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterCommunicatorResponse" />
  </wsdl:message>
  <wsdl:message name="ITelegramNotify_TelegramNotifyRcv_InputMessage">
    <wsdl:part name="parameters" element="tns:TelegramNotifyRcv" />
  </wsdl:message>
  <wsdl:message name="ITelegramNotify_TelegramNotifyRcv_OutputMessage">
    <wsdl:part name="parameters" element="tns:TelegramNotifyRcvResponse" />
  </wsdl:message>
  <wsdl:message name="ITelegramNotify_TelegramNotifySend_InputMessage">
    <wsdl:part name="parameters" element="tns:TelegramNotifySend" />
  </wsdl:message>
  <wsdl:message name="ITelegramNotify_TelegramNotifySend_OutputMessage">
    <wsdl:part name="parameters" element="tns:TelegramNotifySendResponse" />
  </wsdl:message>
  <wsdl:message name="ITelegramNotify_TelegramSend_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:TelegramSend" />
  </wsdl:message>
  <wsdl:message name="ITelegramNotify_TelegramSend_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:TelegramSendResponse" />
  </wsdl:message>
  <wsdl:message name="INotifyUI_UIRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:UIRegister" />
  </wsdl:message>
  <wsdl:message name="INotifyUI_UIRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:UIRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="INotifyUI_UIUnRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:UIUnRegister" />
  </wsdl:message>
  <wsdl:message name="INotifyUI_UIUnRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:UIUnRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="INotifyUI_UIConveyorBasicUINotify_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UIConveyorBasicUINotify" />
  </wsdl:message>
  <wsdl:message name="INotifyUI_UIConveyorBasicUINotify_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UIConveyorBasicUINotifyResponse" />
  </wsdl:message>
  <wsdl:message name="INotifyUI_UIAddEvent_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UIAddEvent" />
  </wsdl:message>
  <wsdl:message name="INotifyUI_UIAddEvent_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UIAddEventResponse" />
  </wsdl:message>
  <wsdl:portType name="ITelegramNotify">
    <wsdl:operation name="RegisterCommunicator">
      <wsdl:input wsaw:Action="http://tempuri.org/ITelegramNotify/RegisterCommunicator" message="tns:ITelegramNotify_RegisterCommunicator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITelegramNotify/RegisterCommunicatorResponse" message="tns:ITelegramNotify_RegisterCommunicator_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnRegisterCommunicator">
      <wsdl:input wsaw:Action="http://tempuri.org/ITelegramNotify/UnRegisterCommunicator" message="tns:ITelegramNotify_UnRegisterCommunicator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITelegramNotify/UnRegisterCommunicatorResponse" message="tns:ITelegramNotify_UnRegisterCommunicator_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TelegramNotifyRcv">
      <wsdl:input wsaw:Action="http://tempuri.org/ITelegramNotify/TelegramNotifyRcv" message="tns:ITelegramNotify_TelegramNotifyRcv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITelegramNotify/TelegramNotifyRcvResponse" message="tns:ITelegramNotify_TelegramNotifyRcv_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TelegramNotifySend">
      <wsdl:input wsaw:Action="http://tempuri.org/ITelegramNotify/TelegramNotifySend" message="tns:ITelegramNotify_TelegramNotifySend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITelegramNotify/TelegramNotifySendResponse" message="tns:ITelegramNotify_TelegramNotifySend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TelegramSend">
      <wsdl:output wsaw:Action="http://tempuri.org/ITelegramNotify/TelegramSend" message="tns:ITelegramNotify_TelegramSend_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ITelegramNotify/TelegramSendResponse" message="tns:ITelegramNotify_TelegramSend_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="INotifyUI">
    <wsdl:operation name="UIRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/INotifyUI/UIRegister" message="tns:INotifyUI_UIRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotifyUI/UIRegisterResponse" message="tns:INotifyUI_UIRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UIUnRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/INotifyUI/UIUnRegister" message="tns:INotifyUI_UIUnRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotifyUI/UIUnRegisterResponse" message="tns:INotifyUI_UIUnRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UIConveyorBasicUINotify">
      <wsdl:output wsaw:Action="http://tempuri.org/INotifyUI/UIConveyorBasicUINotify" message="tns:INotifyUI_UIConveyorBasicUINotify_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/INotifyUI/UIConveyorBasicUINotifyResponse" message="tns:INotifyUI_UIConveyorBasicUINotify_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UIAddEvent">
      <wsdl:output wsaw:Action="http://tempuri.org/INotifyUI/UIAddEvent" message="tns:INotifyUI_UIAddEvent_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/INotifyUI/UIAddEventResponse" message="tns:INotifyUI_UIAddEvent_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotifyEndpoint1" type="tns:ITelegramNotify">
    <wsp:PolicyReference URI="#NotifyEndpoint1_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterCommunicator">
      <soap12:operation soapAction="http://tempuri.org/ITelegramNotify/RegisterCommunicator" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnRegisterCommunicator">
      <soap12:operation soapAction="http://tempuri.org/ITelegramNotify/UnRegisterCommunicator" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TelegramNotifyRcv">
      <soap12:operation soapAction="http://tempuri.org/ITelegramNotify/TelegramNotifyRcv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TelegramNotifySend">
      <soap12:operation soapAction="http://tempuri.org/ITelegramNotify/TelegramNotifySend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TelegramSend">
      <soap12:operation soapAction="http://tempuri.org/ITelegramNotify/TelegramSend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NotifyEndpoint2" type="tns:INotifyUI">
    <wsp:PolicyReference URI="#NotifyEndpoint2_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="UIRegister">
      <soap12:operation soapAction="http://tempuri.org/INotifyUI/UIRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UIUnRegister">
      <soap12:operation soapAction="http://tempuri.org/INotifyUI/UIUnRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UIConveyorBasicUINotify">
      <soap12:operation soapAction="http://tempuri.org/INotifyUI/UIConveyorBasicUINotify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UIAddEvent">
      <soap12:operation soapAction="http://tempuri.org/INotifyUI/UIAddEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MFCService">
    <wsdl:port name="NotifyEndpoint1" binding="tns:NotifyEndpoint1">
      <soap12:address location="net.tcp://localhost:9000/MFCS/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9000/MFCS/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NotifyEndpoint2" binding="tns:NotifyEndpoint2">
      <soap12:address location="net.tcp://localhost:9000/MFCS/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9000/MFCS/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>