UserInterface/Connected Services/ServiceMFCS/Warehouse.ConveyorUnits.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Warehouse.ConveyorUnits" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Warehouse.ConveyorUnits" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Collections" />
  <xs:complexType name="ConveyorBasicInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ActiveAlarms" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="AlarmID" type="xs:short" />
      <xs:element minOccurs="0" name="AlarmList" nillable="true" type="tns:ArrayOfALARM" />
      <xs:element minOccurs="0" name="Fault" type="xs:short" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Online" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Sensor" nillable="true" type="q2:ArrayOfKeyValueOfstringSensorSY2vpiVO" />
      <xs:element minOccurs="0" name="SensorList" nillable="true" type="tns:ArrayOfSensor" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Collections" minOccurs="0" name="State" nillable="true" type="q3:BitArray" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Collections" minOccurs="0" name="Status" nillable="true" type="q4:BitArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConveyorBasicInfo" nillable="true" type="tns:ConveyorBasicInfo" />
  <xs:complexType name="ArrayOfALARM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ALARM" nillable="true" type="tns:ALARM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfALARM" nillable="true" type="tns:ArrayOfALARM" />
  <xs:complexType name="ALARM">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Offset" type="xs:int" />
      <xs:element minOccurs="0" name="Range" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ALARM" nillable="true" type="tns:ALARM" />
  <xs:complexType name="Sensor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Offset" type="xs:int" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sensor" nillable="true" type="tns:Sensor" />
  <xs:complexType name="ArrayOfSensor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sensor" nillable="true" type="tns:Sensor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSensor" nillable="true" type="tns:ArrayOfSensor" />
</xs:schema>