Warehouse/Connected Services/ServiceReferenceWMSToMFCS/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WMSToMFCS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWMSToMFCS_CommandStatusChanged_InputMessage">
    <wsdl:part name="parameters" element="tns:CommandStatusChanged" />
  </wsdl:message>
  <wsdl:message name="IWMSToMFCS_CommandStatusChanged_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommandStatusChangedResponse" />
  </wsdl:message>
  <wsdl:message name="IWMSToMFCS_PlaceChanged_InputMessage">
    <wsdl:part name="parameters" element="tns:PlaceChanged" />
  </wsdl:message>
  <wsdl:message name="IWMSToMFCS_PlaceChanged_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlaceChangedResponse" />
  </wsdl:message>
  <wsdl:message name="IWMSToMFCS_DestinationEmptied_InputMessage">
    <wsdl:part name="parameters" element="tns:DestinationEmptied" />
  </wsdl:message>
  <wsdl:message name="IWMSToMFCS_DestinationEmptied_OutputMessage">
    <wsdl:part name="parameters" element="tns:DestinationEmptiedResponse" />
  </wsdl:message>
  <wsdl:portType name="IWMSToMFCS">
    <wsdl:operation name="CommandStatusChanged">
      <wsdl:input wsaw:Action="http://tempuri.org/IWMSToMFCS/CommandStatusChanged" message="tns:IWMSToMFCS_CommandStatusChanged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWMSToMFCS/CommandStatusChangedResponse" message="tns:IWMSToMFCS_CommandStatusChanged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlaceChanged">
      <wsdl:input wsaw:Action="http://tempuri.org/IWMSToMFCS/PlaceChanged" message="tns:IWMSToMFCS_PlaceChanged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWMSToMFCS/PlaceChangedResponse" message="tns:IWMSToMFCS_PlaceChanged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DestinationEmptied">
      <wsdl:input wsaw:Action="http://tempuri.org/IWMSToMFCS/DestinationEmptied" message="tns:IWMSToMFCS_DestinationEmptied_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWMSToMFCS/DestinationEmptiedResponse" message="tns:IWMSToMFCS_DestinationEmptied_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWMSToMFCS" type="tns:IWMSToMFCS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CommandStatusChanged">
      <soap:operation soapAction="http://tempuri.org/IWMSToMFCS/CommandStatusChanged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceChanged">
      <soap:operation soapAction="http://tempuri.org/IWMSToMFCS/PlaceChanged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DestinationEmptied">
      <soap:operation soapAction="http://tempuri.org/IWMSToMFCS/DestinationEmptied" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WMSToMFCS">
    <wsdl:port name="BasicHttpBinding_IWMSToMFCS" binding="tns:BasicHttpBinding_IWMSToMFCS">
      <soap:address location="http://localhost:9010/i2MFCS.WMS/WMSToMFCS/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>