Warehouse/Connected Services/ServiceReferenceWMSToMFCS/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CommandStatusChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cmdId" type="xs:int" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommandStatusChangedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PlaceChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="placeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TU_ID" type="xs:int" />
        <xs:element minOccurs="0" name="TU_dimension" type="xs:int" />
        <xs:element minOccurs="0" name="changeType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlaceChangedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DestinationEmptied">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="place" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestinationEmptiedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderForRampActive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ramp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderForRampActiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderForRampActiveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>