WCFWarehouse/Connected Services/MFCSService/Telegrams.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Telegrams" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Telegrams" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Position">
    <xs:sequence>
      <xs:element minOccurs="0" name="R" type="xs:short" />
      <xs:element minOccurs="0" name="X" type="xs:short" />
      <xs:element minOccurs="0" name="Y" type="xs:short" />
      <xs:element minOccurs="0" name="Z" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Position" nillable="true" type="tns:Position" />
  <xs:complexType name="Palette">
    <xs:sequence>
      <xs:element minOccurs="0" name="Barcode" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="Quantity" type="xs:short" />
      <xs:element minOccurs="0" name="Type" type="xs:short" />
      <xs:element minOccurs="0" name="Weight" type="xs:unsignedShort" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Palette" nillable="true" type="tns:Palette" />
</xs:schema>