WCFWarehouse/Connected Services/MFCSService/Warehouse.Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Warehouse.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Warehouse.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LPosition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Depth" type="xs:int" />
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="Shelve" type="xs:int" />
      <xs:element minOccurs="0" name="Travel" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LPosition" nillable="true" type="tns:LPosition" />
</xs:schema>